<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @calendar.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @calendar.tipo%>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
